In [15]:
import pandas as pd
import scipy.stats as stats

In [68]:
users = pd.read_csv("data/datasets/users.dat", delimiter= "::", names = ["id", "gender", "age group", "occupation", "zip"])

/var/folders/1t/44v3s5n97h1drxtq1zb_gdlm0000gq/T/ipykernel_21840/1331591690.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_csv("data/datasets/users.dat", delimiter= "::", names = ["id", "gender", "age group", "occupation", "zip"])

In [55]:
results = pd.read_csv("data/part_10/2movie_group_RuleBorda_product_lottery.csv")

      user  mean_ndcg       rbo
0        1   0.000000  1.000000
1        2   0.000000  0.087222
2        3   0.000000  1.000000
3        4   0.110046  1.000000
4        5   0.233651  0.421746
...    ...        ...       ...
6033  6036   0.236807  1.000000
6034  6037   0.138862  1.000000
6035  6038   0.000000  1.000000
6036  6039   0.066254  1.000000
6037  6040   0.073364  1.000000

[6038 rows x 3 columns]

In [56]:
merged = results.merge(users, left_on="user", right_on="id")

In [65]:
merged.groupby('age group')[["rbo", "mean_ndcg"]].mean()

                rbo  mean_ndcg
age group
1          0.885417   0.147630
18         0.862135   0.160268
25         0.864261   0.183962
35         0.875351   0.153232
45         0.883531   0.129827
50         0.875345   0.127151
56         0.863400   0.089557

In [66]:
merged.groupby('gender')[["rbo", "mean_ndcg"]].mean()

             rbo  mean_ndcg
gender
F       0.867973   0.122292
M       0.870035   0.170294

In [67]:
location = merged.groupby("age group")["mean_ndcg"].apply(list)
h_stat, p_value = stats.kruskal(*location)
print(f"Kruskal-Wallis nDCG by age group: H-stat={h_stat}, p-value={p_value}")

location = merged.groupby("age group")["rbo"].apply(list)
h_stat, p_value = stats.kruskal(*location)
print(f"Kruskal-Wallis RBO by age group: H-stat={h_stat}, p-value={p_value}")

Kruskal-Wallis nDCG by age group: H-stat=115.64931181068334, p-value=1.334397764606847e-22
Kruskal-Wallis RBO by age group: H-stat=4.211390646978533, p-value=0.6480937332783216

In [64]:
male_ndcg = merged[merged["gender"] == "M"]["mean_ndcg"]
female_ndcg = merged[merged["gender"] == "F"]["mean_ndcg"]

u_stat, p_value = stats.mannwhitneyu(male_ndcg, female_ndcg, alternative="two-sided")

print(f"Mann-Whitney U mean_nDCG by gender: U-stat={u_stat}, p-value={p_value}")

male_rbo = merged[merged["gender"] == "M"]["rbo"]
female_rbo = merged[merged["gender"] == "F"]["rbo"]

u_stat_rbo, p_value_rbo = stats.mannwhitneyu(male_rbo, female_rbo, alternative="two-sided")

print(f"Mann-Whitney U RBO by gender: U-stat={u_stat_rbo}, p-value={p_value_rbo}")

Mann-Whitney U mean_nDCG by gender: U-stat=4216805.5, p-value=3.2935008417178016e-18
Mann-Whitney U RBO by gender: U-stat=3717301.5, p-value=0.6743591204043404

In [47]:
users_a = pd.read_csv("data/datasets/users_info.csv")
users_a
results_a = pd.read_csv("data/ambar_part3/4ambar_all_RuleCopeland_product_lottery.csv")
results_a
merged_a = results_a.merge(users_a, left_on="user", right_on="user_id")
# male_ndcg = merged[merged["gender"] == "M"]["mean_ndcg"]
# female_ndcg = merged[merged["gender"] == "F"]["mean_ndcg"]
# male_rbo = merged[merged["gender"] == "M"]["rbo"]
# female_rbo = merged[merged["gender"] == "F"]["rbo"]
# male_rbo.hist()
# female_rbo.hist()
# merged['rbo'].hist()
# merged['mean_ndcg'].hist()
merged_a.groupby('continent')[["rbo", "mean_ndcg"]].mean()

                    rbo  mean_ndcg
continent
Africa         0.672908   0.108471
Antarctica     0.845639   0.063527
Asia           0.550561   0.071167
Europe         0.576496   0.084457
North America  0.675562   0.096065
Oceania        0.599738   0.096359
South America  0.511540   0.091221

In [53]:
location = merged_a.groupby("continent")["mean_ndcg"].apply(list)
h_stat, p_value = stats.kruskal(*location)
print(f"Kruskal-Wallis nDCG bey continent: H-stat={h_stat}, p-value={p_value}")

location = merged_a.groupby("continent")["rbo"].apply(list)
h_stat, p_value = stats.kruskal(*location)
print(f"Kruskal-Wallis RBO by continent: H-stat={h_stat}, p-value={p_value}")

Kruskal-Wallis nDCG bey continent: H-stat=21.85233320833909, p-value=0.001287776786146412
Kruskal-Wallis RBO by continent: H-stat=108.48365877578773, p-value=4.2337109916172636e-21

In [52]:
male_ndcg = merged_a[merged_a["gender"] == "M"]["mean_ndcg"]
female_ndcg = merged_a[merged_a["gender"] == "F"]["mean_ndcg"]

u_stat, p_value = stats.mannwhitneyu(male_ndcg, female_ndcg, alternative="two-sided")

print(f"Mann-Whitney U mean_nDCG by gender: U-stat={u_stat}, p-value={p_value}")

male_rbo = merged_a[merged_a["gender"] == "M"]["rbo"]
female_rbo = merged_a[merged_a["gender"] == "F"]["rbo"]

u_stat_rbo, p_value_rbo = stats.mannwhitneyu(male_rbo, female_rbo, alternative="two-sided")

print(f"Mann-Whitney U RBO by gender: U-stat={u_stat_rbo}, p-value={p_value_rbo}")

Mann-Whitney U mean_nDCG by gender: U-stat=4203614.5, p-value=0.9320048277388495
Mann-Whitney U RBO by gender: U-stat=4203682.0, p-value=0.9348409453923963